* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*HEEADER*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  background-color: #222;
  color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.name-container {
  font-size: 1.4rem;
  font-weight: 600;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.95rem;
}

.role {
  font-size: 0.8rem;
  color: #ccc;
}

/*MAIN*/

/*LOGIN*/
#page-content-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262e35;
  background-image: url(/src/img/instruments-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-login {
  background-color: white;
  padding: 2.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
}
.title-login {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-box .input-login {
  padding: 12px 40px 12px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}
.input-box .icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  pointer-events: none;
}
.forgot-password {
  text-align: right;
  margin-bottom: 1.5rem;
}

.forgot-password .btn-forgot {
  color: #262e35;
  text-decoration: none;
  font-size: 1rem;
}

.forgot-password .btn-forgot:hover {
  text-decoration: underline;
}

.btn-login {
  width: 100%;
  padding: 12px;
  background-color: #262e35;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #888d49;
}

/*HOME*/

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 2fr));
  gap: 2rem;
  width: 100%;
  margin: 2rem;
}
.links {
  text-decoration: none;
}
.card {
  background-color: #262e35;
  color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 7rem;
}
.card:hover {
  transform: translateY(-5px);
}

.icon-home {
  font-size: 30px;
  color: #3498db;
}

/*USERS*/
.form-agregar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 2rem;
  width: 100%;
  max-width: 600px;
}
.input-info {
  flex: 1 1 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#button-enviar {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}
.tabla-wrapper {
  width: 100%;
}
.tabla-datos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
.tabla-datos th,
.tabla-datos td {
  border: 1px solid #ddd;
  padding: 0.8rem;
}
.tabla-datos th {
  background-color: #f0f0f0;
}

/*MODULS ALL*/
.page-content {
  padding: 1rem;
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-container {
  font-size: 1.5rem;
}
.div-back {
  padding: 12px;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.btn-return {
  padding: 12px;
  background-color: #262e35;
  border: none;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

/*FOOTER*/
.footer {
  padding: 1rem 2rem;
  background-color: #222;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
}

.footer .footer-p {
  margin: 0.2rem 0;
}

/* Responsive */
@media (max-width: 600px) {
  /*HEADER*/
  .booeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-info {
    align-items: flex-start;
    margin-top: 0.5rem;
  }

  /*FOOTER*/
  .footer {
    font-size: 0.8rem;
    padding: 0.8rem 1rem;
  }
}
